.about {
  margin-top: 50px;
}
.about .card {
  width: 100%;
}
.about .card-img-top {
  width: 100%;
}
.about img {
  border-style: none;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 18px;
}
